@import "~bootstrap/scss/bootstrap";

body {
  background: theme-color-level("dark", -1);
  color: white;
}

.Login {
  width: 400px;
  background: theme-color-level("dark");
  margin: 0 auto;
  margin-top: 100px;
  text-align: center;
  padding: 50px;
  border-radius: 10px;

  h2 {
    margin-bottom: 30px;
  }
}

.Playlists {
  width: 300px;
  padding: 20px;
  background-color: theme-color-level("dark");
  border-right: solid 1px #333;

  a {
    color: white;
  }
}

.Library {
  display: flex;
}

.Playlist {
  flex: 1;
  padding: 20px;
}